/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*, body
{
	margin: 0 auto;
}
 
body.container
{
	position: absolute;
	padding: 40px 0px 0px 0px;
	top: 0;
	bottom: 0;	
	margin-left: 0px;
}

body div#page
{
	position: relative;
	background-color: white;
	height: 100%;
	left: 26px;
}

div#content
{
	background-color: white;
	height: 100%;
	position: relative;
	right: 0px;
	top: 20px;
	left: 20px;
	padding: 0px 40px 40px 40px;
}

ul#left-menu
{
position: fixed;
margin-left: 45px;
top: 120px;
left: 25px;
width: 200px;
}
 
ul#errorUl 
{	
	list-style: none;
	margin-left: 0;
}
ul#errorUl li
{ 
	margin-bottom: 5px;	
} 

ul#errorUl li:hover
{ 
	border: solid 1px;
	margin-bottom: 5px;	
	cursor: hand; cursor: pointer;
} 

