// Place all the styles related to the evaluacions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#ajax_container
{
	position: relative;
}

div#loading
{
	position: absolute;
	display: none;
	cursor: wait;

	background: url('loading.gif') no-repeat;
	background-position: center;
	background-color: white;
	opacity: 0.7;
	z-index: 9999;
	width: 100%;
	height:	100%;
}

div#escala_container{ min-height: 200px;}

div#escala_container *, div#show-escala *
{
	color: black;
}

div#escala_container header.navbar-inner:hover
{
	cursor: hand;	cursor: pointer;
}

div#escala_container.not_loaded
{
	border: solid whiteSmoke 2px;
	background-color: #FDFDFD;
	margin-bottom: 10px;
}

div#escala_container section.item div.item_body td
{
	text-align: center;
}

tr.blank_entry, div.control-group .blank_entry
{
	border: solid red 2px;
}
div.control-group.blank_entry
{
	padding-top: 5px;
	padding-bottom: 5px;
}

section.item 
{	
	margin-left: 45px;
	margin-right: 50px;
}
div.item_body 
{ 
	margin-left: 0;
	background-color: white;
	display: none;
}

header.navbar-inner
{
	padding-right: 0;
} 
header.navbar-inner li.number
{
	padding-right: 10px;
}

table.columna_1
{
	position: relative;
	margin-left: 35px;
}

div.controls { width: 220px;}
div.controls.time select { width: 45%;}

#pdf_create_button{

}

#pdf_download_button{
	display: none;
}

a.close {
  font-weight: bold;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-decoration: none;
}
a.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}
