// Place all the styles related to the evaluacions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#ajax_container
{
	position: relative;
}

div#escala_container{ min-height: 200px;}

div#loading
{
	position: absolute;
	display: none;
	cursor: wait;

	background: url('loading.gif') no-repeat;
	background-position-x: center;
	background-color: white;
	opacity: 0.5;
	z-index: 9999;
	width: 100%;
	height:	100%;
}

section.item *
{
	color: black;
}

section.item 
{	
	margin-left: 45px;
	margin-right: 50px;
}
div.item_body 
{ 
	margin-left: 0;
	background-color: white;
	display: none;
}

header.navbar-inner
{
	padding-right: 0;
} 
header.navbar-inner li.number
{
	padding-right: 10px;
}

table.columna_1
{
	position: relative;
	margin-left: 35px;
}

div.controls { width: 220px;}
div.controls.time select { width: 45%;}

#pdf_create_button{

}

#pdf_download_button{
	display: none;
}
