/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	border          :   0.00pt none #000000;
	}
div#main            { 
	border	        : 2px solid black;
	background-color: white;
	position        : absolute;
	left            :  81.00pt;
	top             : 115.50pt;
	width           : 584.25pt;
	min-height          : 320.75pt;
	}
div#objetados            { 
	background-color: white;
	position        : absolute;
	left            : 21.00pt;
	top             : 22.00pt;
	width           : 545.00pt;
	height          : 130.00pt;
	}
div#objetados th           { 
	border-bottom:2px dashed;
}
div#objetados td           { 
	border-bottom:1px dashed;
}
div#digitados            { 
	background-color: white;
	position        : absolute;
	left            : 21.00pt;
	top             : 165.00pt;
	width           : 545.00pt;
	height          : 130.00pt;
	}
div#digitados th           { 
	border-bottom:2px dashed;
}
div#digitados td           { 
	border-bottom:1px dashed;
}
div#menu            { 
	border	        : 2px solid black;
	border-radius	:10px;
	background-color: lightgreen;
	position        : absolute;
	left            :  69.75pt;
	top             :  85.00pt;
	width           : 614.25pt;
	height          :  29.25pt;
	}
div#menu p           { 
	margin-top: 8px;
	padding-left: 20px;
}
div#log_menu            { 
	border	        : 2px solid black;
	background-color: white;
	position        : absolute;
	left            : 405.00pt;
	top             :  29.25pt;
	width           : 141.75pt;
	height          :  40.50pt;
	}
div#log_menu p           { 
	padding-left: 10px;
}
div#logo           {
	background      : transparent url(test2001011.jpg) no-repeat top left;
	position        : absolute;
	left            : 126.75pt;
	top             :  14.25pt;
	width           : 153.00pt;
	height          :  67.50pt;
	}
div#page            { /* Page Holder */
	background-color: #d3d3d3;
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #d3d3d3;
	text-align      : center;
	}



/*--- EndOfFile ---*/
