// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.record:hover
{
	background-color: whiteSmoke;
	cursor: pointer; cursor: hand;
}

select.btn-mini
{
	height: 20px;
	width: auto;
}

tr.user-record a
{
	width: 42px;
	float: right;
}
