<div "class="pan9">
  <ul id="errorUl">
  	<li class="alert alert-error" data-scrollTop="60" >
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  	</li>
  </ul>
</div>

<%- model_class = Evaluacion -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>
